USE [master]
GO
/****** Object:  Database [UniversityDB]    Script Date: 5/12/2015 11:54:40 AM ******/
CREATE DATABASE [UniversityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDB', FILENAME = N'E:\BASIS_SEIP .NET training\12.05.2015(17 Day)\UniversityApp\DB\UniversityDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityDB_log', FILENAME = N'E:\BASIS_SEIP .NET training\12.05.2015(17 Day)\UniversityApp\DB\UniversityDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDB]
GO
/****** Object:  Table [dbo].[tbl_department]    Script Date: 5/12/2015 11:54:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_department](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_department] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 5/12/2015 11:54:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[student_regNo] [varchar](50) NULL,
	[student_name] [varchar](50) NULL,
	[student_address] [varchar](100) NULL,
	[student_departmentId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_student] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_department] ON 

INSERT [dbo].[tbl_department] ([department_id], [department_name]) VALUES (1, N'IT')
INSERT [dbo].[tbl_department] ([department_id], [department_name]) VALUES (2, N'CSE')
SET IDENTITY_INSERT [dbo].[tbl_department] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_student]    Script Date: 5/12/2015 11:54:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_student] ON [dbo].[tbl_student]
(
	[student_regNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_student]  WITH CHECK ADD  CONSTRAINT [FK_tbl_student_tbl_student] FOREIGN KEY([student_departmentId])
REFERENCES [dbo].[tbl_department] ([department_id])
GO
ALTER TABLE [dbo].[tbl_student] CHECK CONSTRAINT [FK_tbl_student_tbl_student]
GO
USE [master]
GO
